branches:
  only: 
    - next
env:
  global:
    - ANDROID_PACKAGE='camera-next-debug.apk'
    - ANDROID_PACKAGE_FOLDER=$TRAVIS_BUILD_DIR/demo/platforms/android/app/build/outputs/apk/debug
    - ANDROID_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER/$ANDROID_PACKAGE?overwrite=true"
    - IOS_PACKAGE='camera-next.zip'
    - IOS_PACKAGE_FOLDER=$TRAVIS_BUILD_DIR/demo/platforms/ios/build/emulator
    - IOS_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER/$IOS_PACKAGE?overwrite=true"
    
matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      node_js: "6"
      script: cd src && npm run ci.tslint && cd ../demo && npm run ci.tslint && cd ../demo-angular && npm run ci.tslint
    - stage: "Build and WebPack"
      os: osx
      env:
        - WebPackiOS="11"
      osx_image: xcode9.2
      language: node_js 
      node_js: "6"
      jdk: oraclejdk8
      before_script:
        - cd demo && tns platform add ios@next
        - cd ../demo-angular && tns platform add ios@next
      script: cd ../demo && npm run build.plugin && npm i && tns build ios --env.uglify && cd ../demo-angular && npm i && tns build ios --env.uglify --env.aot
    - language: android
      os: linux
      env:
        - WebPackAndroid="26"
      jdk: oraclejdk8
      before_install: nvm install 6.10.3
      before_script:
        - cd demo && tns platform add android@next
        - cd ../demo-angular && tns platform add android@next
      script: cd ../demo && npm run build.plugin && npm i && tns build android --env.uglify --env.snapshot && cd ../demo-angular && npm i && tns build android --env.uglify --env.snapshot --env.aot
    - env: 
        - BuildAndroid="26"
      language: android
      os: linux
      jdk: oraclejdk8
      before_install: nvm install 8.9.4
      before_script:
        - cd demo && tns platform add android@next
        - cd ../demo-angular && tns platform add android@next
      script:
        - cd ../src && npm i && npm run tsc && cd ../demo && tns build android && cd ../demo-angular && tns build android
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $ANDROID_SAUCE_STORAGE --data-binary @$ANDROID_PACKAGE_FOLDER/app-debug.apk"
    - os: osx
      env: 
        - BuildiOS="11"
        - Xcode="9.2"
      osx_image: xcode9.2
      language: node_js 
      node_js: "8"
      jdk: oraclejdk8
      before_script:
        - cd demo && tns platform add ios@next
        - cd ../demo-angular && tns platform add ios@next
      script: 
        - cd ../src && npm i && npm run tsc && cd ../demo && tns build ios && cd ../demo-angular && tns build ios
        - cd $IOS_PACKAGE_FOLDER && zip -r $IOS_PACKAGE demo.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $IOS_SAUCE_STORAGE --data-binary @$IOS_PACKAGE_FOLDER/$IOS_PACKAGE"
    - stage: "UI Tests"
      env: 
        - Android="23"
      language: node_js
      os: linux
      node_js: "6"
      script:
        - npm i -g appium
        - cd demo && npm i
        - travis_retry npm run e2e -- --runType android23 --sauceLab --reuseDevice --appPath $ANDROID_PACKAGE
    - os: linux
      env: 
        - iOS="10"
      language: node_js 
      node_js: "6"
      script:
        - npm i -g appium
        - cd demo && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim.iPhone8.iOS11.2 --sauceLab --reuseDevice --appPath $IOS_PACKAGE

android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-23
    - android-26
    - extra-android-m2repository

install:
    - echo no | npm install -g nativescript@next
    - tns usage-reporting disable
    - tns error-reporting disable
    - cd src
    - npm uninstall tns-core-modules -D && npm install tns-core-modules@next -D
    - cd ../demo
    - npm uninstall tns-core-modules -P && npm install tns-core-modules@next -P
    - npm uninstall nativescript-dev-webpack -D && npm install nativescript-dev-webpack@next -D
    - npm uninstall nativescript-dev-typescript -D && npm install nativescript-dev-typescript@next -D
    - cd ../demo-angular
    - npm uninstall tns-core-modules -P && npm install tns-core-modules@next -P
    - npm uninstall nativescript-dev-webpack -D && npm install nativescript-dev-webpack@next -D
    - npm uninstall nativescript-dev-typescript -D && npm install nativescript-dev-typescript@next -D
    - cd ..